PUBLIC_SITE_URL=https://netcom.cl
PUBLIC_COMPANY_PHONE=+56 9 5429 3135
PUBLIC_COMPANY_EMAIL=contacto@netcom.cl
PUBLIC_COMPANY_WHATSAPP=56954293135
PUBLIC_GA4_ID=
PUBLIC_META_PIXEL_ID=
CONTACT_WEBHOOK_URL=